body {
  font-family: Arial, sans-serif;
  background-color: #b0931d;
  margin: 0;
  padding: 0;
}

header {
  background-color: #97922a;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

section {
  margin: 20px;
  padding: 20px;
  background: rgb(201, 208, 125);
  border-radius: 10px;
}

h2 {
  color: #000000;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #c2d797;
}
